@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Modernist";
  src: url("../src/fonts/Modernist-Three-Regular.ttf")
}

body {
  font-family: 'Mukta Mahee', "Arial", sans-serif;
  color: #d2a200;
  background-color: black;
}

nav {
  font-family: 'Modernist', "Arial", sans-serif;
  color: #d2a200;
  /* letter-spacing: 2px; */
  font-size: 30px;
  text-transform: uppercase;
  z-index: 20;
}

nav a {
  opacity: .7;
}

nav a:hover {
  opacity: 1;
  outline: 0;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Modernist', "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 48px;
}

#lang {
  font-family: 'Mukta Mahee', "Arial", sans-serif;
  line-height: 40px;
  font-size: 16px;
  /* color: #26262a; */
  text-transform: none;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}


.locate {
  position: absolute;
  top: 14px;
  right: 10px;
  background: none;
  border: none;
  z-index: 10;
}

.locate img {
  width: 40px;
  cursor: pointer;
}


.center {
  position: absolute;
  top: 270px;
  right: 10px;
  background: none;
  border: none;
  z-index: 10;
}

.center img {
  width: 40px;
  cursor: pointer;
}