@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Mukta Mahee', "Arial", sans-serif;
  color: #d2a200;
  background-color: black;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Modernist', "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 48px;
}

#lang {
  font-family: 'Mukta Mahee', "Arial", sans-serif;
  line-height: 40px;
  font-size: 16px;
  /* color: #26262a; */
  text-transform: none;
}

.locate {
  position: absolute;
  top: 14px;
  right: 10px;
  background: none;
  border: none;
  z-index: 10;
}

.locate img {
  width: 40px;
  cursor: pointer;
}


.center {
  position: absolute;
  top: 270px;
  right: 10px;
  background: none;
  border: none;
  z-index: 10;
}

.center img {
  width: 40px;
  cursor: pointer;
}

.videoBannerHeight {
  height: 100vh;
  max-height: -webkit-fill-available;
}